<div id="file_list_container">
    <div class="heading">
        <a href="<%= this.project.url %>" id="file_list_heading" class="menu_heading">
            <span class="heading_label"><%= project.name %></span>
        </a>
    </div>
    <div class="toolbar">
        <div class="SPM-board_name">
            <ul class="SPM-board-names">
                <% boards.forEach(function(board){ %>
                <li class="<% if (project.board && board.name === project.board.name)  { %>selected<% } %>">
                    <%= board.name %>
                </li>
                <% }) %>
            </ul>
        </div>
        <% boards.forEach(function(board) { %>
        <div id="file_list_toggle SPM-lists SPM-list-<%= board.id %>" class="btn-group" <% if (project.board && board.id != project.board.id) { %>style="display:none;"<% } %>>
            <% board.lists.forEach(function(list) { %>
            <button id="file_list_toggle_all" class="file_list_toggle <% if (list.id == project.idList) { %>active<% } %> btn btn-mini btn-outline"><%= list.name %></button>
            <% }) %>
        </div>
        <% }) %>
    </div>
    <div class="SPM-tab-content">
        <div class="SPM-members">
            <% project.members.forEach(function(member) {%>
                <div class="SPM-member <% if (member.isLeader) { %>SPM-leader<% } %>">
                <% if (member.avatarHash === null) { %>
                    <div class="SPM-member-initials"> <%= member.fullName.match(/\b\w/g).join('') %> </div>
                <% } else {%>
                    <img class="SPM-member-avatar" height="30" width="30" src="https://trello-avatars.s3.amazonaws.com/<%= member.avatarHash %>/30.png" alt="<% member.name %>" title="<% member.name %>">
                <% } %>
                </div>
            <% }) %>
        </div>
        <div class="subsection SPM-description" data-filter="all">
            <p><%= markdown.toHTML(project.desc) %></p>
        </div>
    </div>
</div>